.container
  %h1 Photos
  = link_to 'New Photo', new_photo_path
  %table.table.table-striped
    %thead
      %tr
        %th
        %th Title
        %th Description
        %th Group
        %th File Name
        %th
        %th
        %th
    %tbody
      - @photos.each do |photo|
        %tr
          %td
            = link_to photo.photo.url, class: 'fancybox', caption: photo.title do
              = image_tag photo.photo.url(:thumb)
          %td= photo.title
          %td= photo.description
          %td= readable_enum(Photo::PHOTO_GROUPS, photo.photo_group)
          %td= photo.photo_file_name
          %td= link_to 'Show', photo
          %td= link_to 'Edit', edit_photo_path(photo)
          %td= link_to 'Destroy', photo, method: :delete, data: { confirm: 'Are you sure?' }

  .pagination= will_paginate @photos, renderer: BootstrapPagination::Rails
  %br
  = link_to 'New Photo', new_photo_path