%h1 Photo Gallery
%p
  I've always had a love for capturing brief, static moments in time. Looking back on images from various adventures,
  whether nearby or in some remote part of the outdoors, is a favorite activity of mine. It never gets old.
  Here is my current portfolio:
.group-links
  %ul
    %li
      = link_to 'All Photos', photo_gallery_path
    %li
      = link_to 'National Parks', photo_gallery_path(photo_group: 1)
    %li
      = link_to 'Pacific Northwest', photo_gallery_path(photo_group: 2)
    %li
      = link_to 'Panoramas', photo_gallery_path(photo_group: 3)
    %li
      = link_to 'Black & White', photo_gallery_path(photo_group: 4)
    %li
      = link_to 'Hawaii', photo_gallery_path(photo_group: 5)
    %li
      = link_to 'Europe', photo_gallery_path(photo_group: 6)

#photo-gallery
  - @photos.each do |photo|
    = link_to photo.photo.url, class: 'fancybox', caption: photo.title do
      = image_tag photo.photo.url(:xlarge)


- content_for :head do
  = javascript_include_tag 'photo'