= link_to 'Edit', edit_photo_path(@photo)
= link_to 'Photo Index', photos_path
%p
  %strong Title:
  = @photo.title
%p
  %strong Description:
  = @photo.description
%p
  %strong Photo Group
  = readable_enum(Photo::PHOTO_GROUPS, @photo.photo_group)
%p
  %strong File Name:
  = @photo.photo_file_name
%p
  %strong File Size:
  = @photo.photo_file_size
%p
  %strong Photo:
  %br
  = image_tag @photo.photo.url

= link_to 'Edit', edit_photo_path(@photo)
= link_to 'Photo Index', photos_path