!!!
%html
  %head
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1, maximum-scale=1"}
    %title Mike Bull, Ruby on Rails software developer in Bend, OR
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    = render partial: 'shared/header'

    #wrap
      .container
        = render partial: 'layouts/messages'
        = yield

    = render partial: 'shared/footer'